body {
	background: url('asset('imgs/login.jpg')');
}

.bg-light {
	 background: rgb(162,207,186);
background: linear-gradient(172deg, rgba(162,207,186,1) 24%, rgba(161,228,237,1) 55%, rgba(191,226,218,1) 81%); 
}
